
/DSS_VS/Debug
/DSS_VS/luaexit/Debug
/DSS_VS/darksidesync/Debug
/Debug
*.suo
*.ncb
/darksidesync/Debug
/luaexit/Debug
*.sdf
/ipch
/Release
/darksidesync/Release
/luaexit/Release

/*.opensdf

/darksidesync/*.o
/darksidesync.dll
